html {
  display:flow-root;
  opacity: 0.6;
  font-family: 'MedievalSharp', cursive;
  padding-top: 30px;
}

div {
    display: block;
    text-align: center;
}

h1 {
  width: 20px;
  height: 20px;
  text-align:inherit;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:20px;
  padding-right:50px;
  font: 200%/1 'MedievalSharp', cursive;
  color: #d45829;
  transition: 2s;
}


img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin:0 auto;
  padding-top:10px;
  padding-bottom:10px;



}
a {
  color: #d45829;
  font-size: 20px;

}
.b{
  width: 100px;
  height: 100px;
  background-color: #e9b39f;
  position:relative; Left: 500PX;
}
body{
    display:block; 
   margin:0 auto;
   margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
   margin-left: 10px;
   color: #d45829;
}
