body {
  background-color: #f7e4e5;

}

h1 {
  text-align: center;
  color: rgba(52, 7, 97, 0.76);
  font-family: 'Amatic SC', cursive;
}
h2 {
  text-align: center;
  color: rgba(52, 7, 97, 0.76);
  font-family:'Amatic SC', cursive;
}

a {
  color: rgba(52, 7, 97, 0.76);
  text-decoration:underline;
  text-align: center;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  background: white;
  display:grid;
  border: 7px dashed lightblue;
  border-radius: 50px;
  padding: 30px;

  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 10px;
  width: 300px;



}
a:hover{
    color: rgb(167, 31, 108);
    transform: scale(1.1);
}


p {
  color:rgba(242, 241, 220, 0.6);
  font-size: 50px;
  display: block;
  text-align: center;

}


ul  {
  list-style: decimal;

}

.logo-png {
  width:40px;
  display:block;
  margin:0 auto;
}

div {
  transform: rotate(45deg);
  transform-origin: 20% 40%;
}
