*{
   box-sizing: border-box;
}


  img {
    max-width: 100%;

  }


  .sidebar{
    background-color: rgb(109, 102, 157);
    position:fixed;
    top:0;
    right:-300px;
    width:300px;
    height:100vh;
    padding: 1rem;
    transition:right .5s;

  }


  .active {
    right: 0;
    /*width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;*/
  }
